.authSwitcherWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
//   background: linear-gradient(120deg, #e0eafc 0%, #cfdef3 100%);
}

.cardContainer {
  width: 400px;
  transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.7s;
  will-change: transform, opacity;
  margin-bottom: 2rem;
}

.slideInLeft {
  animation: slideInLeft 0.7s;
}

.slideInRight {
  animation: slideInRight 0.7s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(60px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}