.signupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //   background: linear-gradient(135deg, #e0f7fa, #80deea);
  :global(.p-card-title),
  :global(.p-card-subtitle) {
    text-align: center;
  }
}

.logincard {
  width: 400px;
  padding: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #ffffff;
  animation: fadeIn 1s ease-in-out;
  button {
    width: 100%;
    margin-block: 0.25rem;
  }
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  :global(.p-icon-field),
  input {
    width: 100%;
  }
}

.field label {
  font-weight: 600;
  color: #333;
}

.signupButton {
  width: 100%;
  background-color: #00796b;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #004d40;
  }
}

.divider {
    margin: 0.25rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
