.aboutDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;

    .thumbnail {
        padding: 1rem;
    }
    
    .infoDiv {
        width: 400px;
        text-align: center;
        animation: slideIn 1.2s;
    }

    span {
        font-weight: bold;
        color: #2196f3
    }

    ul {
        text-align: left;
        margin: 1rem auto;
        max-width: 300px;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}