.modal {
  width: 55rem;
  height: 42rem;
  :global(.p-dialog-content) {
    padding: 0.5rem;
  }
}

.modalHeader {
  font-weight: bold;
  font-size: larger;
  color: black;

  a {
    text-decoration: none;
    color: blue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
  }

  label {
    font-size: medium;
    margin: 9px;
    color: tomato;
    font-weight: bold;
    justify-self: baseline;
  }

  a:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

.content {
  padding: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
  margin-inline: 5px;
  border-radius: 0.5rem;
  width: 48%;
  padding: 0.5rem;
  flex: 1;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &:hover {
    animation: neonPulse 1s infinite alternate, animateItem 1s infinite alternate;
  }
}

@keyframes animateItem {
  0% {
    transform: translateX(-2px) rotate(-1deg);
  }

  50% {
    transform: translateX(0px) rotate(0deg);
  }

  100% {
    transform: translateX(2px) rotate(1deg);
  }
}

@keyframes neonPulse {
  to {
    box-shadow: 0 0 10px #00fffb, 0 0 20px #00fffb;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  padding: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  table {
    width: 100%;

    th {
      width: 30%;
      text-align: right;
    }

    td {
      width: 70%;
      text-align: center;
    }

    th,
    td {
      padding: 0.125rem 0.25rem;
    }
  }
}

.trailer {
  position: relative;
  bottom: 0;
  height: 27vh;
  animation: borderFlow 5s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background: linear-gradient(45deg,
      red,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet,
      red);
  padding: 0.125rem;
  border-radius: 0.5rem;
  background-size: 400% 400%;
  background-clip: border-box;
  -webkit-background-clip: border-box;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.475rem;
  }
}

@keyframes borderFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}