.filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.75rem;

    .selection {
        width: 8.4rem;

        :global(.p-dropdown-label) {
            font-size: 0.75rem;
            padding: 0.5rem;
        }

        :global(.p-dropdown-clear-icon) {
            right: 1.5rem;
        }

        :global(.p-dropdown-trigger) {
            width: 2rem;
        }
    }

    input {
        width: 11vw;
        font-size: 0.75rem;
        height: 2rem;
    }

    .resetBtn {
        width: 2rem;
        height: 2rem;
    }

    .listed {
        justify-content: center;
        width: 6.5rem;
        height: 2rem;
    }
}

.documentariesContainer {
    display: grid;
    padding: 1rem;
    max-height: 35rem;
    overflow-y: scroll;
    border-radius: 1rem;
    scrollbar-width: none;
    background: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 1.5rem;
}

.documentaryCard {
    width: 19rem;
    height: 25rem;
    overflow: hidden;
    margin-inline: auto;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    :global(.p-card-title) {
        height: 2.5rem;
        font-size: 1.15rem;
        text-align: justify;
        // word-break: break-all;
    }

    :global(.p-card-subtitle) {
        margin-top: 0.75rem;
        height: 0.75rem;
    }

    .tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
}

.thumbnail {
    height: 11rem;
    object-position: center;
    object-fit: fill;
    border-bottom: 2px solid #eee;
}

.docInfo {
    margin-top: 0.75rem;
    height: 2rem;

    p {
        margin: 0.5rem 0;
        font-size: 0.95rem;
        color: #555;
    }
}