@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "../../../node_modules/primereact/resources/themes/lara-light-indigo/theme.css";
@import "../../../node_modules/primeicons/primeicons.css";
@import "../../../node_modules/primeflex/primeflex.css";
@import "./root.scss";